:root{
    --color-1: #0f1016;
    --text-color: #464444;
    --accent-color: #00defc;
  }
  *{
    margin: 0;
    padding: 0;
  }
  html{
    
    font-family: Poppins, Segoe UI, Tahoma, sans-serif;
  }
  .logo{
    margin-right: 100px;
  }
  nav{
    height: 60px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; /* Fixed position */
    top: 0; /* Position at the top of the viewport */
    
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.25);
    z-index: 999;
    
  }
  .links-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
     
    
  }
  nav a{
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    
  }
  .navbar{
      color: #172554;
      margin-left: 60px;
      margin-right: 25px;
  }
  .navbar.blue{
  color: #006aff;    
  }
  
  nav a:hover{
    background-color: var(--accent-color);
  }
  nav .home-link{
    margin-right: auto;
  }
  nav svg{
    fill: var(--text-color);
  }
  #sidebar-active{
    display: none;
  }
  .open-sidebar-button, .close-sidebar-button{
    display: none;
  }
  @media(max-width: 700px){
    nav{
        width: 100vw;
    }
    .links-container{
      flex-direction: column;
      align-items: flex-start;
  
      position: fixed;
      top: 0;
      right: -100%;
      z-index: 10;
      width: 300px;
  
      background-color: #172554;
      box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
      transition: 0.75s ease-out;
    }
   
    nav a{
      box-sizing: border-box;
      height: auto;
      width: 400px;
      padding: 20px 30px;
      justify-content: flex-start;
      
    }
    .navbar{color: #fff;}
    .open-sidebar-button{
       margin-left: 80px;
        padding: 5px;
        display: block;
     
    }
    .close-sidebar-button{
      padding: 20px;
      display: block;
    }
    
    #sidebar-active:checked ~ .links-container{
      right: 0;
    }
    #sidebar-active:checked ~ #overlay{
      height: 100%;
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 100;
    }
  }
  h1{
    margin-top: 100px;
  }